*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
  --color-principal: #29dd29;
  --titulos:'Bruno Ace SC', cursive;
  --texto:'Oswald', sans-serif;
}

html{
overflow-x: hidden;

}

h1,h2{
  color: var(--color-principal);
  font-family: var(--titulos);
  font-size: 50px;
}
p{
  color: #fff;
  font-size: 30px;
  font-family: var(--texto);
}
header{
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(img/Banner\ para\ Twitch.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 800px;
}

/*-------BARRA DE NAVEGACION-----*/
.nav{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar{
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: center;
  color: var(--color-principal);
  width: 100%;
  margin: 20px;
  text-decoration: none;
  list-style: none;
  font-family: var(--titulos);

}
.navbar li a {
  text-decoration: none;
  color: #fff;
}
/*-------HOME-------*/
/*----------CONTENIDO POPULAR----------*/ 
.popular{
  background-color: black;
}
.popular h2{
    margin-left: 10%;
}
.popular-item{
  display: flex;
  justify-content: center; 
  width: 100vw;
  overflow: hidden;
  
}
.popular-video{
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  padding: 5px; 
  background-image: linear-gradient(black 40%, #29dd29);
  font-size: 25px;
  gap: 10px;
  margin: 10PX 20PX;
}
.popular-video img{
    width: 100%;
    height: 90%    
}
.popular-video button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--color-principal);
    border: none;
    color: #fff;
    
}
.popular-video a{
    text-decoration: none;
}
.popular-video button img{
    width: 40px;   
}

/*----------streaming----------*/
.stream{
    width: 100%;
    background-color: black;
}
.cont-stream{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.cont-stream-left{
   background: radial-gradient(circle, rgb(131, 0, 171) 10%, rgba(0,0,0, .0 ) 55%);
    width: 50%;
    height: 100%;
    display: flex;
}
.cont-stream-left img{
    width: 100%;
    
}
.cont-stream-right{
    width: 50%;
    padding: 25px;
    text-align: justify;

}
.cont-stream-right button{
  width: 250px;
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
  font-size: 30px;
}
.cont-stream-right button a{
    text-decoration: none;
    color: #fff;
    font-family: var(--titulos);
}
/*----------GAMEPLAYS----------*/
.gameplays{
    width: 100%;
    background-image: linear-gradient(black , #005ca7, black);
    
}
.cont-gameplays{
    width: 100%;
    display: flex;
    padding: 30px;
    align-items: center;
}
.cont-gameplays-left{
    width: 50%;
    text-align: justify;
    padding-left: 50px;
}
.cont-gameplays-left button{
  width: 250px;
  background-color: #005ca7;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  
}
.cont-gameplays-left button a{
  text-decoration: none;
  color: #fff;
  font-family: var(--titulos);
}
.cont-gameplays-right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.cont-gameplays-right img{
  width: 35%;
}
/*----------Video Comics----------*/
.videocomics{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 100px ;
  background-color: black;
  background-image: linear-gradient(black 15% , red, black);
}
.cont-videocomics{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-comics{
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.text-comics button{
  width: 250px;
  background-color: rgb(176, 4, 4);
  border-radius: 5px;
  border: none;
  font-size: 30px;
}
.text-comics button a{
  text-decoration: none;
  color: #fff;
  font-family: var(--titulos);
}
.image-comics {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-comics img{
  width: 75%;
}

/*----------RESENAS Y OPINIONES----------*/
.resenas{
  width: 100%;
  background-image: linear-gradient(black 70%, gray);
}
.cont-resenas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.cont-resenas-left{
  width: 30%;
  margin-right: 10px;
}
.cont-resenas-left img{
  width: 110%;
}
.cont-resenas-center{
  width: 30%;
  align-content: center; 
  justify-content: center;
  display: block;
  text-align: justify;
}
.cont-resenas-center h2{
margin-left: 11%;
}
.cont-resenas-center button{
  width: 250px;
  background-color:var(--color-principal);
  border-radius: 5px;
  border: none;
  font-size: 30px;
  margin-left: 20%;
}
.cont-resenas-center button a{
  color: #fff;
  text-decoration: none;
  font-family: var(--titulos);
}
.cont-resenas-right{
  width: 30%;
}
.cont-resenas-right img{
  width: 100%;
}
/*----------REDES SOCIALES----------*/
footer{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img{
  margin: 10px 30px;
  width: 50px;
}

/*----------MEDIA QUERYS----------*/
@media screen and (max-width: 1024px){  
  header{
    height: 500px;
  }
  nav{
    display: none !important;
  }
    .popular-video{
        width: 100%;
        margin: 10px;
        padding: 0;
    }
    #none{
      display: none;
    }
    .cont-resenas-center button{
        margin: 0;
    }
    .cont-resenas-left{
        width: 0;
    }
    .navbar{
        width: 100%;
        font-size: 15px;
        padding: 0;
        margin: 10px;
    }
    .cont-stream{
      display: flex;
      flex-direction: column-reverse;
    }
    .cont-stream-right, .cont-gameplays-left, .text-comics {
      width: 100%;
    }
    .cont-resenas-center{
      width: 80%;
    }
    .cont-resenas-center h2{
      margin: 0;
    }
    .cont-gameplays{
      display: flex;
      flex-direction: column;
    }
    .cont-gameplays-right{
      display: none;
    }
    .cont-videocomics, .cont-resenas{
      display: flex;
      flex-direction: column ;
    }
  
  }